.PresentationsList{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 640px;
  max-width: 100%;
}
.PresentationsList .PresentationItem{
  width: 30%; background-color: transparent; max-width: 100%;
  box-sizing: border-box;
  list-style: none;
  cursor: pointer;
  opacity: .7;
  font-family: 'Bowlby One SC', cursive;
  font-size: 16px;
  color: #fff;
}
.PresentationsList .PresentationItem:hover{
  opacity: 1;
}
.PresentationsList .PresentationItem img{
  max-width: 100%;
}